@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Index";
}
<h1>Parking Lot</h1>
<p>
    <div>Total Spots: @Model.TotalSpots</div>
</p>
<p>
    <div>Reserved Spots: @Model.ReservedSpots</div>
</p>
<p>
    <div>Free Spots: @Model.FreeSpots</div>
</p>
<p>
    <a asp-action="Details">View All Spots</a>
</p>
