@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
ViewData["Title"] = "Index";
}

<h1>Parking Lot Status</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card text-center bg-primary text-white">
            <div class="card-body">
                <h5 class="card-title">Total Spots</h5>
                <p class="card-text display-4">@Model.TotalSpots</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center bg-warning text-white">
            <div class="card-body">
                <h5 class="card-title">Reserved Spots</h5>
                <p class="card-text display-4">@Model.ReservedSpots</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center bg-success text-white">
            <div class="card-body">
                <h5 class="card-title">Available Spots</h5>
                <p class="card-text display-4">@Model.FreeSpots</p>
            </div>
        </div>
    </div>
</div>

<br />

<div class="text-center mt-5">
    <a asp-action="Details" class="btn btn-primary">View All Spots</a>
</div>