@model ParkingLotManagament.ViewModels.LogViewModel

@{
    ViewData["Title"] = "Create";
    SelectList SubscriptionList = ViewBag.ListSubscriptions;
}

<h1>Create</h1>

<h4>Log</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubscriptionId" class="control-label"></label>
                <select asp-for="SubscriptionId" class="form-control" asp-items="SubscriptionList"></select>
            </div>
            <div class="form-group">
                <label asp-for="CheckInTime" class="control-label"></label>
                <input asp-for="CheckInTime" class="form-control" />
                <span asp-validation-for="CheckInTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutTime" class="control-label"></label>
                <input asp-for="CheckOutTime" class="form-control" />
                <span asp-validation-for="CheckOutTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
