@{
    ViewData["Title"] = "Parking Lot Theme Management";
}
<div class="text-center" style="margin-top: 50px;">
    <h1 class="display-4" style="color: #008080; font-family: Arial, sans-serif;">Welcome to Our Parking Lot</h1>
    <p style="color: black; font-family: Arial, sans-serif;">Manage our parking lot using our easy-to-use theme management feature.</p>
</div>
<style>
    body {
        background-image: url("https://images.squarespace-cdn.com/content/v1/58b38d8659cc684cc8867e42/2fab4528-068e-45c8-a00e-e7a6fb992472/Pedestrian+Sidewalk+Graphic_Final-min.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>