@model ParkingLotManagament.ViewModels.PricingPlanViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PricingPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="HourlyPricing" class="control-label"></label>
                <input asp-for="HourlyPricing" class="form-control" />
                <span asp-validation-for="HourlyPricing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyPricing" class="control-label"></label>
                <input asp-for="DailyPricing" class="form-control" />
                <span asp-validation-for="DailyPricing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumHours" class="control-label"></label>
                <input asp-for="MinimumHours" class="form-control" />
                <span asp-validation-for="MinimumHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
